:root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --primary-color-:#00203F;
    --secondary-color-:#ADEFD1;
}


.empty-wish{
    color:darkgoldenrod;
}

.wish-card{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    background-color: var(--primary-color-);
    color: var(--secondary-color-);
    margin: 1rem;
    padding: 1rem;
    gap: 30px;
    justify-content: center;
    align-items: center;
    width: auto;
}

